.input-done {
    color: green;
    font-weight: bold;
    outline: none;
}

.errorEnter{
    border: solid 2px red;
    border-radius: 5px;
    outline: none;
}
.container{
    display: block;
    width: 220px;
}

.inputfocus {
    border: solid 2px green;
    border-radius: 5px;
    outline: none;
}

.label {
    font-weight: bolder;
    color: white;
    text-decoration: white;
    width: 300px;
    background-color: coral;
    height: 50px;
    padding: 30px 0 0 30px ;    
}

.label.input {
    padding-right: 50px;
    
}

.price {
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 30px;
    margin-top:20px;
    padding: 2px 5px 5px 5px;
}

.remove {
    border: solid 0.5px black;
    background-color: white;
    border-radius: 45%;
    margin: 5px;
}